html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
  }
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace; /* Simulate terminal font */
    color: lawngreen;
    background-color: black; /* Dark green background */
  }

.section {
    min-height: 100vh; /* Each section takes full viewport height */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-bottom-color: #7cfc00;
    border-bottom-style: groove;
    border-bottom-width: 0.5rem;
}
.section .hero {
    font-size: 2rem;
}
.section .hero::after {
    content: "_";
    opacity: 0;
    animation: cursor 1s infinite;
}

.home {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.about {
  font-size: 1rem;
}

.content-wrapper .intro{
  font-size: 1rem;
}
  
.linkedin {
  width: 3rem;
  height: 3rem;
  background-image: url('/static/linkedin.svg');
  display: inline-block;
  background-position: center;
}
.linkedin > a {
  display: inline-block;
  width: 3rem;
  height: 3rem;
}
@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
